<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Graph</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.28.1/cytoscape.min.js"></script>
    <link rel="stylesheet" th:href="@{/style/stylesheet.css}">
    <script type="text/javascript" th:src="@{/js/cytoscape.js}" defer></script>
</head>
<body th:onload="addGraph([[${json}]], [[${isSolution}]])">
<div th:id="cy"></div>
<div class="sidenav">
    <h1 class="nav-title">Grapher</h1>
    <table class="nav-table">
        <tr class="nav-table">
            <td rowspan="2" class="nav-table" style="border-right: 4px solid black;">
                <img th:src="@{/images/maps.svg}" height="85em" alt="">
            </td>
            <td class="nav-table" style="width: 100%;">
                <select class="nav-select" id="from">
                    <option th:each="node : ${nodes}" th:value="${node.getName()}" th:text="${node.getName()}" th:selected="${node.getName() == from}">
                </select>
            </td>
        </tr>
        <tr class="nav-table">
            <td class="nav-table" style="width: 100%;">
                <select class="nav-select" id="to">
                    <option th:each="node : ${nodes}" th:value="${node.getName()}" th:text="${node.getName()}" th:selected="${node.getName() == to}">
                </select>
            </td>
        </tr>
    </table>
    <label class="nav-item">Distance : <span th:text="${distance}"/></label>
    <button class="nav-button" th:onclick="findRoute()">Find Route</button>
    <hr>
    <label class="nav-item">Load Graph</label>
    <select class="nav-button" id="graph_id" th:onchange="loadGraph()">
        <option th:each="graph : ${graphs}" th:value="${graph.getId()}" th:text="${graph.getId()}" th:selected="${graph.getId() == id}">
    </select>
    <hr>
    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <label class="nav-item">Upload Graph</label>
        <input type="file" name="file" accept="application/JSON" class="nav-button">
        <button type="submit" class="nav-button">Upload</button>
    </form>

    <div id="footer">Robin Lafontaine</div>
</div>

</body>
</html>