<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Graph</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.28.1/cytoscape.min.js"></script>
    <link rel="stylesheet" th:href="@{/style/stylesheet.css}">
    <script type="text/javascript" th:src="@{/js/cytoscape.js}" defer></script>
</head>
<body>
<div th:id="cy"></div>
<button id="reset-button">Reset</button>
</body>
<script th:onload="addGraph(${json})"></script>
</html>